{% extends 'base.html' %}
{% block extra_css %}
<style type="text/css">
.container2 {

  margin-top: 80px;
  max-width: 1170px;
  padding-left: 230px;
}
h3 {
  font-size: 18px;
  color: white;
line-height: 110%;
}
</style>
{% endblock %}
{% block page %}
<div class="container2 text-left" id="error">



      <h3>The Steel Company<br>
321 South Linden Drive<br>
Beverly Hills, CA 90212<br>
Phone: 310-274-7221 | Fax: 310-274-7507<br>
Email: steel@thesteelco.com
 </h3>

    </div>
{% endblock page %}