{% extends 'base.html' %}
{% block extra_css %}
<style type="text/css">
body {
  height: 1200px;
  background: linear-gradient(gray, black);
  /*background-color: #eee;*/
}

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 60px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.container2 {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 80px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 230px;
}

.cornerlogo {
      position: absolute;
    top: 73px;
    left: 220px;

}


.row:before, .row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 24px;
  color: white;
  font-weight: 300;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 18px;
  color: white;
  font-weight: 300;
  text-align: left;
  margin: 0 0 20px 0;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}
a:link { color:#cccccc; }
a:visited { color:white;  }
a:hover { color:white;  }

</style>
{% endblock extra_css %}

{% block page %}
<div class="container2 text-left" id="error">
<br><br><br>

<h3>

<a href="http://variety.com/2013/film/news/7-ways-cannes-has-changed-fest-vet-gordon-steele-remembers-1200484126/">Variety: 7 Ways Cannes Has Changed: Fest Vet Gordon Steel Remembers</a><br>

<a href="http://variety.com/2002/film/news/the-a-list-variety-s-kings-of-cannes-1117866759/">Variety: The A List: Kings of Cannes</a><br>

<a href="http://www.hollywoodreporter.com/news/tf1-video-sony-launch-french-88682">THR: TF1 Video, Sony launch French co-venture</a><br>

<a href="http://www.hollywoodreporter.com/news/gordon-steel-points-compass-90840">THR: Gordon Steel points to Compass</a><br>

{% endblock page %}