


<link rel="stylesheet" href={{ url_for('static', filename="css/normalize.css") }} type="text/css">
<link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.css") }} type="text/css">
<link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap-responsive.css") }} type="text/css">
<link rel="stylesheet" href={{ url_for('static', filename="css/main.css") }} type="text/css">
<link rel="stylesheet" href={{ url_for('static', filename="css/styles.css") }} type="text/css">
<link rel="stylesheet" href={{ url_for('static', filename="css/fineuploader-3.3.0.css") }} type="text/css">
<link rel="stylesheet" href={{ url_for('static', filename="css/index.css") }} type="text/css">