{% extends 'base.html' %}
{% block page %}
<div class="container text-center" id="error">
  <div class="row">
    <div class="col-md-12">
      <div class="main-icon text-success"><span class="uxicon uxicon-clock-refresh"></span></div>
      <img src={{ url_for('static', filename="img/steel_logo_white.png") }} alt="The Steel Company"></img> <br>
      <h2><b>The Steel Company</b> has been under contract with leading film distributors worldwide for more than twenty-five years, one distributor per territory, for the acquisition of motion pictures in the independent marketplace by pursuing and analyzing product from the status of development to completion. <br><br>
  <b>The Steel Company</b> has and does arrange major studios distribution for both theatrical and home entertainment on a territory-by-territory worldwide basis for independent distributors. <br><br>
  <b>The Steel Company</b> has and does represent equity investors for script development, budget finance and the identification of promising investment opportunities from producers, agents, managers, lawyers and sales companies. <br><br>
  <b>The Steel Company</b> consults, advises and arranges exhibition ventures. <br><br>  
       </h2>

    </div>
  </div>

</div>
{% endblock page %}