{% extends 'base.html' %}
{% block extra_css %}
<style type="text/css">
body {
  height: 1200px;
  background: linear-gradient(gray, black);
  /*background-color: #eee;*/
}

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 60px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.container2 {

  margin-top: 80px;
  max-width: 1170px;
  padding-left: 230px;
}

.cornerlogo {
      position: absolute;
    top: 73px;
    left: 220px;

}


.row:before, .row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 24px;
  color: white;
  font-weight: 300;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 18px;
  color: white;
line-height: 110%;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}
a:link { color:#cccccc; }
a:visited { color:white;  }
a:hover { color:white;  }
.control-group .control-label {
	cursor: default;
	vertical-align: text-top;
	padding-top: 0px;
	width: 150px;
}
.input-large {
	width: 150px;
}
.password {
	font-size: 12px;
	text-align: right;
	padding-top: 10px;
}
.password a{
	text-decoration: underline;
}
.login {
	border: solid;
	border-width: 1px;
	padding: 10px;	
	width: 320px;
}
.controls {
	margin-left: 10px;
}

.password-new{
	color: #FF9999;
}
.login-error{
	color: #FF9999;
	font-size: 12px;
	text-align: right;
	padding-bottom: 10px;
}
</style>
{% endblock extra_css %}
{% block extra_js %}
<script src={{ url_for('static', filename='js/client.js') }} type=application/javascript ></script>
{% endblock extra_js %}
{% block page %}
<div class="container grayText">
  <div class="row">
  	<center>
	  	<form class="form-horizontal" action="" method="post">
	  		{{ form.hidden_tag() }}
	  		<fieldset class="login">
	  			<h3>System Login</h3>
		      	<div class="control-group">
		  			<label class="control-label">Username:</label>
			  		<input type="input" class="input-large" placeholder="Username" name="username">
			  	</div>
			  	<div class="control-group">
			  		<label class="control-label">Password:</label>
			  		<input type="password" class="input-large" placeholder="Password" name="password">
			  	</div>
			  	<div class="login-error" data-bind="visible: loginError, text: loginErrorText"></div>
			  	<div class="control-group">
			  		<input type="submit" value="login">
			  	</div>
		  </fieldset>
	    </form>
	</center>
	</div>
</div>
{% endblock page %}