{% extends 'base.html' %}
{% block page %}
<div class="container text-center" id="error">
  <div class="row">
    <div class="col-md-12">
      <div class="main-icon text-success"><span class="uxicon uxicon-clock-refresh"></span></div>
      <img src={{ url_for('static', filename="img/underconstrution.png") }} alt="The Steel Company" width="256" height="256"></img> <br>
      <h2>We are in the process of building a brand new database<br> to better serve our clients.  </h2>
    </div>
  </div>
</div>
{% endblock page %}