{% extends 'base.html' %}
{% block extra_css %}
<style type="text/css">
body {
  height: 2200px;
  background-color:black;
  background: linear-gradient(gray, black);

}

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 30px;
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
}

.cornerlogo {
      position: absolute;
    top: 73px;
    left: 220px;

}


.row:before, .row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 18px;
  color: white;
  font-weight: 300;
      line-height:120%;
  margin: 0 0 20px 0;
  text-align: left;
  
}


h3 {
  font-size: 24px;
  color: #e1e1e1;
  font-weight: 300;
  margin: 0 0 20px 0;
  text-align: center;
  
}


.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}
a:link { color:#cccccc; }
a:visited { color:white;  }
a:hover { color:white;  }

</style>
{% endblock %}
{% block page %}
<div class="container text-center" id="error">
  <div class="row">
    <div class="col-md-12">
      <div class="main-icon text-success"><span class="uxicon uxicon-clock-refresh"></span></div>
        <h3><a href={{ url_for('about') }}>Gordon Steel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={{ url_for('aboutVillalobos') }}>Angela Villalobos</a></h3><br><br>
		{% block about_page %}
		{% endblock about_page%}
    </div>
  </div>

</div>
{% endblock page %}
