{% extends 'about/base.html' %}
{% block about_page %}
      <img src={{ url_for('static', filename="img/Gordon_Steel.jpg") }} alt="Gordon Steel" width="256" height="256" style="border:3px solid white"></img> <br><br>
            <h2>Gordon Steel<br>
President<br><br>
A native of Scotland, Gordon Steel started his career in entertainment as an actor, writer, and sometimes director of his own weekly television show, "Compass" in South Africa. Gordon became famous for parachuting, surfing, hot-air ballooning, mountain climbing, and exploring local wildlife from elephants and poisonous snakes to lions and rhinos. He was very nearly killed (as the front page headline of the most popular local newspaper will attest) when a fireman carrying him down a ladder a hundred feet above the ground slipped, and as he fell over backwards dropped Gordon off of his shoulders, catching him at the very last second!<br><br>
After spending his first year in America guest starring for Universal television, Gordon decided to switch and learn the business as a talent agent. He persuaded Film Artists Management to start him on a commission basis only. His first responsibility was to find jobs for a then-unknown actor, better known at the time as a famous Austrian bodybuilder. Everyone always asked Gordon: “Arnold…who? How do you say that last name again?”<br><br>

Gordon moved from being an agent to being the head of film sales for an independent company based at Warner Brothers. In less than a year he switched from selling to buying movies by representing film distributors. His first was Sam Waynberg, a Polish Jew World War II concentration camp survivor who had stayed in Germany. Gordon’s first deal for him was “Rambo”, a huge success. Soon after, Gordon began representing a variety of other distributors.<br><br>
A recent Variety magazine article listed the most important attendees at the annual Cannes Film Festival. First on this list was salesman Patrick Wachsberger ("The Twilight Saga"). Second was movie buyer and independent film distributors agent, Gordon Steel. As a buyer's representative, Gordon is constantly acquiring movies for territories all over the world by reading scripts and estimating the value of a potential feature film project before production starts.<br><br> 


A good example is in Portugal, where for more than 25 years Gordon has represented Nos Lusomundo, a business so successful that an ongoing issue is the maximum allowable percentage market share. This applies to exhibition and all types of distribution, from major studio theatrical distribution (in February 2014 Gordon completed theatrical deals for Portugal with the last two remaining major studios, Warner Bros. and Sony), to major studio video distribution, independent film acquisition, and all TV, and all home entertainment including Electronic Sell Thru, Video on Demand, etc.<br><br>

Gordon also does and has worked in a variety of other entertainment areas. For example:<br><br>

<b>Exhibition</b>: For fourteen years, Gordon has been partnered with Bob Friedman, whose former positions include: President of AMC Worldwide Exhibition for 15 years, President of USA Theatrical Distribution for Sony / Columbia for 10 years, and President of USA Theatrical Distribution at United Artists for 12 years.<br><br> 

<b>Strategic Advice</b>: Gordon represented Samsung’s new motion picture venture for ten years. During that time, the parent company was then the 11th largest business worldwide. In Korea, Gordon also worked with CJ Entertainment for seven years after they equity invested the initial $300m to start Dreamworks.<br><br>


<b>Production/Finance</b>: Gordon was the only agent and advisor ever for Rank, which when he started was bigger than Disney. With a line of $100M, Gordon constantly financed and acquired movies for worldwide rights, which Rank would then sell all territories excluding the UK (where Rank had their own distribution and exhibition). During his tenure with Rank, Gordon acquired "Fried Green Tomatoes” in pre-production from producer Norman Lear for all rights in perpetuity excluding USA. The film ended up being Universal's #1 USA theatrical release of that year. Gordon was also a consultant for 14 years with investment bank and financial transaction valuation, Houlihan Lokey Howard & Zukin, where he reported to Roy Salter.<br><br>

<b>Major Studios</b>:  Gordon frequently arranges major studios distribution for independent distributors. In 2010, arranged a Home Entertainment partnership in France with TF1 and Sony, resulting in a business with an annual turnover of 200M Euros.<br><br>


<b>Management</b>: In 2004, while managing Ryan Kavanaugh (Relativity Media), Gordon arranged Ryan’s first ever significant deal: the $525M Marvel equity finance, giving Ryan the creditability needed for a variety of other major studio financial partnerships. Forbes March 2013 had Ryan listed as one of the new young American billionaires.<br><br>


<b>Film Production</b>: Gordon's most recent direct day to day involvement was as Executive Producer on “Tell Tale”, alongside Scott Free Productions, Ridley Scott’s production company.  </h2>


{% endblock about_page %}