{% extends 'about/base.html' %}
{% block about_page %}
<img src={{ url_for('static', filename="img/av_3.jpg") }} width="256" height="256" style="border:3px solid white"></img> <br><br>
<h2>Angela Villalobos<br>
Vice President, Acquisitions & Business Affairs<br><br>
 A native of California, Angela Villalobos began her career in television production at NBC/Universal and MTV Networks before switching to feature film development at Mandate Pictures in 2011. During her tenure at Mandate, she had the pleasure of working on such projects as “50/50”, “Young Adult”, “Hope Springs”, “Last Vegas”, and the $250M Worldwide hit “Neighbors”.<br><br>
 She has worked in all aspects of film and television production including development, legal affairs, and international sales & acquisitions.<br><br>
 Angela graduated from California State University Fullerton with a degree in Radio, Television & Film. An avid fan of comedy, Angela is a student of the Upright Citizens Brigade in Hollywood, and is an aspiring screenwriter. She is also a published poet and an award-winning orator.  </h2>
{% endblock about_page %}