body {
  background: linear-gradient(gray, black);
}
body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 60px;
  max-width: 770px;
  padding-right: 15px;
  padding-left: 15px;
}

.cornerlogo {
      position: absolute;
    top: 40px;
    left: 220px;

}

.row:before, .row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 18px;
  color: white;
    font-weight: 300;
    line-height:120%;
  text-align: left;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}
a:link { color:#cccccc; }
a:visited { color:white;  }
a:hover { color:white;  }

a.btn:link {
  color: #333333;
}
a.btn:visited {
  color: #333333;
}
a.btn:hover {
  color: #333333;
}
a.btn:active {
  color: #333333;
}
.contents {
  background-color: #CCCCCC;
  min-height: 600px;
  height: auto !important ;
  height: 600%;
}