<html>
<head>
  <title>{% block title %}The Steel Company {% endblock title %}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'css.html' %}
  {%- block extra_css -%}
  {%- endblock -%}
  {% include 'js.html' %}
  {%- block extra_js -%}
  {%- endblock -%}
</head>
<body>
  <div class="grayText">
      <a href={{ url_for('index') }} class="pull-left"><img src={{ url_for('static', filename="img/steel_logo_gray_small.png") }} alt="The Steel Company" border="0" /></a>
      <div class="pull-right">Michael.Villalobos.Jr@gmail.com<a class="logout" href="#">log out</a></div>
      <br><br>
      <ul class="nav nav-tabs">
        <li data-bind="css: {active: isHotList() === false}">
          <a href="#" data-bind="click: function() {setHotList(false);}">General</a>
        </li>
        <li data-bind="css: {active: isHotList() === true}">
          <a href="#" data-bind="click: function() {setHotList(true);}">Hot List</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
          <i class="icon-chevron-down icon-white"></i></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="text-left"><a href="#">Manage Users</a></li>
            <li class="text-left"><a href={{ url_for('main_upload') }}>Data Upload</a></li>
          </ul>
        </li>
      </ul>
    </div>
  {% block page %}
  {% endblock page %}
</body>
</html>