{% extends 'main_screen/base.html' %}
{% block extra_css %}
  <style>
  select {
    vertical-align: top;
  }
  .searchBox input{
    margin-top: 8px;
  }
  .container {
    margin-top: 0px;
    margin-left: 0px;
    max-width: 1200px ;
    min-width: 780px;
  }
  .col-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
  }
  .nav {
    margin-bottom: 1px;
  }
  .grayText .logout{
    margin-left: 5px;
    margin-right: 20px;
    text-decoration: underline;
  }
  .report-header {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin-left: 10px;
  }
  .report-header .sort-select {
    font-weight: bold;
  }
  .report-header .sort {
    color: #000000;
    text-decoration: underline;
  }
  .report-body .notes {
    text-align: left;
    font-size: 14px;
  }
  .report-body {
    margin-left: 10px;
  }
  .search-item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .btn-search{
    height: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .leftmost{
    margin-left: 0px;
  }
  .report-body .imdb-link{
    color: blue;
    font-size: 10px;
    text-align: text-bottom;
  }
  .pagination {
    margin-top: 10px;
    margin-right: 20px;
  }
  .pagination a {
    color: #333333;
  }
  .bottom-pagination{
    margin-top: 10px;
  }
  .results {
    font-size: 12px;
    margin-left: 20px;
    vertical-align: 5px;
    height: 30px;
  }
  .search-select {
    margin-top: 8px;
    margin-left: 20px;
    width: 100px;
  }
  .caret.caret-reversed {
    border-top-width: 0px;
    border-bottom: 4px solid #000000;
  }  
  </style>
  {% endblock %}
{% block extra_js %}
  <script>
    var viewModelInstance = null;
    window.getViewModel = function () {
      return viewModelInstance;
    }
    window.setViewModel = function ( newViewModeLinstance ) {
      viewModelInstance = newViewModeLinstance;
      ko.applyBindings( viewModelInstance );
    }
    $(document).ready(function(){
      setViewModel(new dataViewModel());
      {% if list=='hotlist'%}
      getViewModel().isHotList(true);
      {% endif %}
      getViewModel().loadTitles();
    });
    var MAIN_PAGE = "{{ url_for('main') }}";
    var loadTitlesURL = "{{ url_for('titles.load_titles') }}";
    var printPagesURL = "{{ url_for('titles.printable') }}"
  </script>
{% endblock %}
{% block page %}
    <div>
      <div class="contents" id="contents">
        <div class="span5">
          <div class="pull-left searchBox" data-bind="visible: numberOfResults() > 0">
            <select data-bind="options: categories, value: selectedSearch" class="search-select"></select>
            <input type="search" placeholder="Search" class="input-large" data-bind="value: searchTerm">
            <a class="btn btn-search" data-bind="click: runSearch"><i class="icon-search"></i></a>
            <a class="btn" data-bind="click: clearSearch, visible: searchTerm() !== ''">Clear</a>
          </div>
        </div>
        <h3 class="text-center span3" data-bind="visible: isHotList() === false">General List</h3>
        <h3 class="text-center span3" data-bind="visible: isHotList() === true">Hot List</h3>
        <div class="pull-right pagination pagination-small" data-bind="visible: numberOfResults() > 0">
          <span class="results" data-bind="text: resultsText"></span>
          <ul>
            <li data-bind="css: {active: currentPage() === 1}"}><a href="#" data-bind="click: goToFirstPage"><<</a></li>
            <li data-bind="css: {active: currentPage() === 1}"}><a href="#" data-bind="click: decrementPage"><</a></li>
            <!-- ko foreach: paginationValues -->
            <li data-bind="css: {active: $root.currentPage() === $data}"><a href="#" data-bind="text: $data, click: function() {$root.setPage($data)}"></a></li>
            <!-- /ko -->
            <li data-bind="css: {active: currentPage() >= maxPages()}"><a href="#" data-bind="click: incrementPage">></a></li>
            <li data-bind="css: {active: currentPage() >= maxPages()}"}><a href="#" data-bind="click: goToLastPage">>></a></li>
          </ul>
          <br><a class="btn pull-right" data-bind="visible: numberOfResults() > 0, click: printPage">Printable Page</a>
        </div>
        <div class="clearfix"></div>
        <div class="container col-centered">
          <div class="row span12 report-header" data-bind="visible: numberOfResults() > 0">
            <div class="span3 leftmost">
              <div class="pull-left">
                <a href="#" class="sort" data-bind="css: {'sort-select': selectedSort() === 'Company'}, click: function() {categoryClicked('Company')}">Company <b style="vertical-align: middle;" data-bind="visible: selectedSort() === 'Company', css: caretDirection"></b></a>
              </div>
            </div>
            <div class="span4">
              <div class="pull-left">
                <a href = "#" class="sort" data-bind="css: {'sort-select': selectedSort() === 'Title'}, click: function() {categoryClicked('Title')}">Title <b style="vertical-align: middle;" data-bind="visible: selectedSort() === 'Title', css: caretDirection"></b></a>
              </div>
            </div>
            <div class="span2">
              <div class="pull-left">
                <a href="#" class="sort" data-bind="css: {'sort-select': selectedSort() === 'Genre'}, click: function() {categoryClicked('Genre')}">Genre <b style="vertical-align: middle;" data-bind="visible: selectedSort() === 'Genre', css: caretDirection"></b></a>
              </div>
            </div>
            <div class="span2 pull-right text-right">
              <a href="#" class="sort" data-bind="css: {'sort-select': selectedSort() === 'Status'}, click: function() {categoryClicked('Status')}">Status <b style="vertical-align: middle;" data-bind="visible: selectedSort() === 'Status', css: caretDirection"></b></a>
            </div>
          </div>
          <br>
          <div class="row span12" data-bind="visible: loadingResults()">
            <h4>Loading Titles...</h3>
          </div>
          <div class="row span12" data-bind="visible: !loadingResults() && numberOfResults() === 0">
            <h4>No Results</h3>
          </div>
          <!-- ko foreach: loadedTitles -->
          <div class="row span12 report-body search-item" data-bind="visible: !$root.loadingResults()" id="titles">
            <div class="span3 leftmost"><span class="pull-left text-left"><b data-bind="text: mvCompany"></b></span></div>
            <div class="span4"><span class="pull-left text-left"><b data-bind="text: mvTitle"></b>  <a class="imdb-link" target="none" data-bind="attr: {href: imdbSearch}">[imdb]</a></span></div>
            <div class="span2"><span class="pull-left text-left"><i data-bind="text: mvGenre"></i></span></div>
            <div class="span2 pull-right text-right" data-bind="text: mvStatus"></div>
            <div class="row span 12 notes" data-bind="text: mvDescription">
            </div>
            <div class="span3 text-left"><b>(<span data-bind="text: mvCount"></span>)</b></div>
          </div>
          <!-- /ko -->
          <div class="clearfix"></div>
          <div class="pagination pagination-small bottom-pagination" data-bind="visible: numberOfResults() > 0">
            <span class="results" data-bind="text: resultsText"></span>
            <ul>
              <li data-bind="css: {active: currentPage() === 1}"}><a href="#" data-bind="click: goToFirstPage"><<</a></li>
              <li data-bind="css: {active: currentPage() === 1}"}><a href="#" data-bind="click: decrementPage"><</a></li>
              <!-- ko foreach: paginationValues -->
              <li data-bind="css: {active: $root.currentPage() === $data}"><a href="#" data-bind="text: $data, click: function() {$root.setPage($data)}"></a></li>
              <!-- /ko -->
              <li data-bind="css: {active: currentPage() >= maxPages()}"><a href="#" data-bind="click: incrementPage">></a></li>
              <li data-bind="css: {active: currentPage() >= maxPages()}"}><a href="#" data-bind="click: goToLastPage">>></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}